<div style="background-color:white">
    <div class="mx-auto mb-5" style="width: 78rem;">
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        <div class=" d-flex gap-5 my-2 align-items-start"></div>
            <div>
                <span class="fw-bold fs-1">This First Heading</span> <span class="text-secondary fw-bold fs-1"> Will Catch Your Eye</span>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet illum ducimus rerum quo possimus facilis rem, ea, quidem tempora perspiciatis soluta animi libero maiores nulla. Corrupti corporis nobis molestias aperiam?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet illum ducimus rerum quo possimus facilis rem, ea, quidem tempora perspiciatis soluta animi libero maiores nulla. Corrupti corporis nobis molestias aperiam?</p>
            </div>
            <img class="img-fluid rounded-circle" src="./assets/img/1.jpg" alt="Imagen heading" style="width: 100%; height:auto;">
        </div>
    </div>
</div>