<div class="mx-auto mb-5" style="width: 78rem;">
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        <div class=" d-flex gap-5 my-2 align-items-start">
            <div class="flex-grow-1" style="max-width: 850px;">
                <div class=" d-flex gap-1">
                    <h1 class=" fw-bold mt-5">The First Heading </h1>
                    <h1 class=" fw-bold mt-5  text-secondary"> Will Catch Your Eye</h1>
                </div>
                <h5 class="w-100 fw-light">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet illum ducimus rerum quo possimus facilis rem, ea, quidem tempora perspiciatis soluta animi libero maiores nulla. Corrupti corporis nobis molestias aperiam?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet illum ducimus rerum quo possimus facilis rem, ea, quidem tempora perspiciatis soluta animi libero maiores nulla. Corrupti corporis nobis molestias aperiam?
                </h5>
            </div>
            <div class="ms-auto">
                <img class="img-fluid rounded-circle" src="./assets/img/1.jpg" alt="Imagen" style="width: 100%; height:auto;">
            </div>
        </div>
    </div>