
<div class="mx-auto mb-5 my-2 mt-2" style="width: 78rem;">
    <div class=" d-flex gap-5 my-2 align-items-start">
        <div class="me-auto">
            <img src="/website/assets/img/2.jpg" class="img-fluid rounded-circle" alt="machine writting" style="width: 100%; height:auto;">
        </div>
        <div class="flex-grow-1" style="max-width: 850px;">
            <div class=" d-flex gap-1">
                <h1 class=" fw-bold mt-5">The Second Heading</h1>
                <h1 class=" fw-bold mt-5  text-secondary"> Is Pretty Cool Too.</h1>
            </div>
            <h5 class="w-100 fw-light">
                Lorem ipsum dolor sit ameta, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </h5>
        </div>
    </div>
</div>